* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    93deg,
    rgba(82, 170, 231, 0.4826789838337182) 30%,
    rgba(143, 235, 254, 0.5057736720554272) 67%
  );
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 30px 30px 30px;

}

.logo {
  height: 10vh;
  width: 40vw;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.btn1 {
  max-width: 150px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(#6890f0, #386ceb);
  border-radius: 10px;
  border: 0px;
  color: white;

}

.btn1:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: linear-gradient(#5d7fce, #2c53b6);
}

.prompt {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(70, 148, 211);
  margin: 50px 0 50px 0;

}

.pokemonSelection {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
}

input {
  width: 40vw;
  max-width: 250px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgb(43, 144, 226);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(43, 144, 226);
  text-align: center;
}

input:hover {
  box-shadow: rgba(107, 166, 255, 0.295) 0px 30px 60px -12px inset,
    rgba(104, 160, 245, 0.3) 0px 18px 36px -18px inset;
}

#confirm {
  width: 20vw;
  max-width: 150px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(#6890f0, #386ceb);
  border-radius: 10px;
  border: 0px;
  color: white;
}

#confirm:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: linear-gradient(#5d7fce, #2c53b6);
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 5vw;
  margin-top: 5vh;

}

#pokémon-card-one-container,
#pokémon-card-two-container {
  background-color: rgb(202, 224, 241);
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 2vw 3vh 2vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 25px;
}

.pokémon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0vh 2vw 3vh 2vw;
  border-radius: 25px;
  background-color: rgb(140, 172, 198);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.pokeStats {
  background-color: transparent;
  font-size: 1.5rem;
  color: rgb(229, 242, 255);
  text-align: center;
  margin-top: 20px;
}

.pokeStatsStyle {
  background-color: rgb(140, 172, 198);
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  text-align: left;
}
#confirm1{
    width: 60vw;
    max-width: 80px;
    margin: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid rgb(43, 144, 226);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(43, 144, 226);
  }

#firstPokeName,
#secondPokeName {
  font-size: 2.5rem;
}

#firstPokeNum,
#secondPokeNum {
  font-size: 3rem;
}

#firstPokeImg,
#secondPokeImg {
  height: 20vh;
  width: auto;
}

.pokeTypeContainer {
  display: flex;
}

.type-style {
  width: fit-content;
  margin: 10px 5px 10px 5px;
}


.water {
  background: linear-gradient(#6890f0, #386ceb);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;

}

.fire {
  background: linear-gradient(#f08030, #dd6610);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.bug {
  background: linear-gradient(#a8b820, #8d9a1b);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.dragon {
  background: linear-gradient(#7038f8, #4c08ef);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.electric {
  background: linear-gradient(#f8d030, #f0c108);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.ghost {
  background: linear-gradient(#705898, #554374);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.ice {
  background: linear-gradient(#98d8d8, #69c6c6);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.fighting {
  background: linear-gradient(#c03028, #9d2721);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.normal {
  background: linear-gradient(#a8a878, #8a8a59);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.grass {
  background: linear-gradient(#78c850, #5ca935);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.psychic {
  background: linear-gradient(#f85888, #f61c5d);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.rock {
  background: linear-gradient(#b8a038, #93802d);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.ground {
  background: linear-gradient(#e0c068, #d4a82f);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.poison {
  background: linear-gradient(#a040a0, #803380);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.flying {
  background: linear-gradient(#a890f0, #9180c4);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}


.fairy {
  background: linear-gradient(#e898e8, #de6ede);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}


.dark {
  background: linear-gradient(#705848, #513f34);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

.steel {
  background: linear-gradient(#b8b8d0, #9797ba);
  border-radius: 10%;
  padding: 4px 5px 4px 5px;
  color: white;
}

@media screen and (max-width: 430px) {
  .logo1 {
    width: 80vw;
  }

  .logo2 {
    width: 60vw;
    padding-left: 70px;
  }

  header {
    padding-left: 40px;
  }
  .nav1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px 0px 0px;
  }

  input {
    width: 50vw;
    margin: 0 0 0 0;

  }
  #pokémon-card-one-container,
  #pokémon-card-two-container {
    width: 300px;
  }
  .pokémon-card {
    width: 230px;
  }

  #firstPokeName,
  #secondPokeName {
    font-size: 1.5rem;
  }

  #firstPokeNum,
  #secondPokeNum {
    font-size: 2rem;
    padding-top: 10px;
  }

  #firstPokeImg,
  #secondPokeImg {
    height: 15vh;
    width: auto;
  }

  .pokeStats {
    font-size: 1rem;
  }
  .pokeStatsStyle {
    width: 220px;
    padding: 15px 5px 5px 5px;
  }

  #confirm {
    width: 30vw;
  }

  .prompt {
    font-size: 1.5rem;
    padding: 10px 10px 10px 10px;
  }
}
