* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(140, 172, 198);
  padding-left: 400px;
  height: 200px;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}

.logo {
  margin-top: 30px;
   }

.conteiner {
  background-color: transparent;
  height: 50px;
  width: 200px;
  text-align: center;
     
}

  #footerText {
     background-color: rgb(140, 172, 198);
     text-align: center;
     width: 100%;
     color: rgb(226, 226, 20);
     margin-top: 120px;
   }

.btn2 {
  max-width: 150px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgb(226, 123, 20);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(226,226,20);
}

.welcome {
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(226, 226, 20);
  font-family: sans-serif;
  font-style: italic;
}

.pok {
  display: flex;
  justify-content: start;
  width: 250px;
  height: 250px;
  margin-left: 600px;
  
}


@media screen and (max-width:1024px) {
  #imagen {
  display: flex;
  width: 30%;
   padding-top: 70px;
   justify-content: space-around;
   
}
}


@media screen and (max-width:860px) {
  header {
   
    width: 800%;
    margin-top: 10px;
    
  }


footer {
   
  width: 800%;
  margin-top: 10px;
  
}

pok{
  width: 150px;
  height: 150px;
  
}
}